$estilos:(
    color: #0000,
    centro: center,
    padding: 30px 40px,
    fuente: 15px
);

.barraNavegación{
    ul{
        list-style: none;
        padding: 0px;
        margin: 0%;
        text-align: map-get($estilos,color);
        li{
            display: inline-block;
            padding: map-get($estilos,30px 40px);
            color: map-get($estilos, color );
            font-size: map-get($estilos, fuente );
            text-align: center;
            a{
                text-decoration: none;
                color: map-get($estilos , color) ;
                font-weight: bold;
                &:hover{
                    color: $ColorPrimario;
                    transition: 0.5s;
                }
            }
        }
    }
}

