footer{
    width: 1515px;
    height: 400px;
    background-color: $ColorPrimario;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    ul{
        order: 1;
        list-style: none;
        padding: 10px;
        margin: 20px;
        li{
            font-size: 18px;
            color: $ColorSecundario;
            padding: 10px;
            a{
                text-decoration: none;
                color: $ColorSecundario;
            }
        }
    
    }
    
} 