@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat";
  box-sizing: border-box;
}

.barraNavegación ul {
  list-style: none;
  padding: 0px;
  margin: 0%;
  text-align: center;
}
.barraNavegación ul li {
  display: inline-block;
  padding: 30px 40px;
  color: black;
  font-size: 15px;
  text-align: center;
}
.barraNavegación ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.barraNavegación ul li a:hover {
  color: #BFC18E;
  transition: 0.5s;
}

.secundario .newIn {
  display: flex;
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.secundario .newIn img {
  width: 100%;
  max-width: 100%;
  margin: auto;
  text-align: center;
  opacity: 1;
  transition: opacity 0.25s;
}
.secundario .newIn img:hover {
  opacity: 0.75;
}
.secundario .cajasColecciones {
  margin: 10px;
  padding: 5px;
}
.secundario .cajasColecciones .cajas {
  text-align: center;
  align-content: center;
  margin: 5px;
  padding: 10px;
  font-size: 60px;
  font-weight: bold;
}
.secundario .tarjetasColecciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.secundario .tarjetasColecciones .tarjeta1 {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  transition: transform 1s;
}
.secundario .tarjetasColecciones .tarjeta1 img {
  width: 350px;
}
.secundario .tarjetasColecciones .tarjeta1:hover {
  transform: scale(1.2);
}
.secundario .tarjetasColecciones .tarjeta1 .tituloTarjeta {
  font-size: 25px;
  margin: 5px 0px;
  padding: 3px;
}
.secundario .tarjetasColecciones .tarjeta1 .btnTarjeta {
  background-color: #BFC18E;
  margin: 15px;
  padding: 10px 12px;
  color: white;
  border: 0px;
  border-radius: 15px;
}
.secundario .giftboxes {
  display: flex;
  padding: 10px;
  margin: 20px;
  align-items: center;
}
.secundario .giftboxes img {
  width: 1300px;
  padding: 5px;
  margin: auto;
  text-align: center;
  opacity: 1;
  transition: opacity 0.25s;
}
.secundario .giftboxes img:hover {
  opacity: 0.7;
}
.secundario .outlet {
  display: flex;
  text-align: center;
}
.secundario .outlet img {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  text-align: center;
}

.secundario5 .titulo2 h2 {
  text-align: center;
  font-size: 40px;
  margin: 50px;
  font-size: 40px;
  font-weight: bolder;
}
.secundario5 .bloque2 {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.secundario5 .bloque2 img {
  order: 2;
}
.secundario5 .bloque2 p {
  text-align: justify;
  font-size: 25px;
  padding: 20px;
  margin: 30px;
  order: 1;
}
.secundario5 .bloque3 {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.secundario5 .bloque3 img {
  width: 629px;
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.secundario5 .bloque3 p {
  text-align: justify;
  font-size: 25px;
  padding: 20px;
  margin: 30px;
  order: 1;
}

.secundario3 .tituloOutlet {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  font-weight: 700;
}
.secundario3 .tituloOutlet h3 {
  font-weight: 700;
  font-size: 30px;
}
.secundario3 .outletVer {
  display: flex;
  margin: 20px;
  padding: 30px;
  align-items: center;
}
.secundario3 .outletVer img {
  margin: 20px;
  padding: 5px;
}
.secundario3 .outletVer p {
  text-align: justify;
  margin: 10px;
  padding: 8px;
  font-weight: 550;
  font-size: 26px;
}
.secundario3 .outletVer button {
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: #BFC18E;
  color: white;
  border-radius: 15px;
  border: none;
}

.logotipo {
  text-align: center;
  margin: 15px;
}
.logotipo img {
  width: 350px;
}

.iconos {
  margin: 5px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.iconos img {
  width: 50px;
  margin: 8px;
  padding: 10px;
}

.header6 .logotipoForm {
  text-align: center;
  justify-content: center;
}
.header6 .logotipoForm img {
  justify-content: center;
  width: 300px;
}
.header6 .iconosForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.header6 .iconosForm img {
  padding: 8px;
  margin: 10px;
  width: 40px;
}

.principal5 .bloque1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.principal5 .bloque1 h2 {
  padding: 10px;
  margin: 5px;
  font-size: 40px;
  font-weight: bolder;
}
.principal5 .bloque1 img {
  width: 1450px;
  padding: 10px;
  margin: 5px;
}
.principal5 .bloque1 p {
  font-size: 25px;
  padding: 20px;
  margin: 30px;
}

.principal4 .portadaNewIn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.principal4 .portadaNewIn img {
  width: 1600px;
  margin: 30px;
  padding: 20px 30px;
}
.principal4 .newArrivalText {
  font-weight: 700;
  justify-content: center;
  display: flex;
  text-align: justify;
  padding: 10px;
  margin: 20px;
}
.principal4 .newArrivalText h2 {
  font-size: 30px;
  padding: 2px;
  margin: 5px;
  font-weight: 700;
}
.principal4 .newArrivalText p {
  height: 30px;
  width: 500px;
  text-align: justify;
  font-size: 26px;
}
.principal4 .newArrivalText .video {
  text-align: end;
  margin: 20px;
  padding: 20px;
}
.principal4 .textoCuello {
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 30px;
  padding: 2px;
  margin: 5px;
}
.principal4 .textoCuello h3 {
  font-weight: 700;
  text-align: center;
  padding: 10px;
  margin: 15px;
  font-weight: 700;
  font-size: 30px;
}
.principal4 .newArrivalCuello {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.principal4 .newArrivalCuello img {
  background-color: #BFC18E;
  margin: 20px;
  padding: 10px;
  width: 400px;
}

footer {
  width: 1515px;
  height: 400px;
  background-color: #BFC18E;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
footer ul {
  order: 1;
  list-style: none;
  padding: 10px;
  margin: 20px;
}
footer ul li {
  font-size: 18px;
  color: white;
  padding: 10px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

.formulario {
  display: flex;
  margin: 8px;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.formulario legend {
  font-size: 30px;
  font-weight: 800;
  padding: 6px;
  margin: 8px;
}
.formulario img {
  width: 750px;
  padding: 20px;
  margin: 8px;
}
.formulario .textoRegistro {
  margin: 10px;
  padding: 5px;
  text-align: center;
}
.formulario .infoUsuario {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.formulario .inputBox {
  padding: 2px;
  margin: 10px;
}
.formulario .btn {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin: 10px;
  padding: 5px;
}
.formulario .btn input {
  height: 30px;
  width: 100px;
  border: 0px;
  border-radius: 10px;
  background-color: #BFC18E;
  color: white;
}

.productos {
  display: grid;
  margin: 10px 20px 50px;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  text-align: center;
}
.productos img {
  text-align: center;
  width: 300px;
  height: 200px;
  padding: 10px;
  margin: 2px;
  border-radius: 20px;
  max-width: 100%;
}
.productos h4 {
  margin: 5px;
  font-size: 25px;
  font-weight: bolder;
}
.productos p {
  margin: 2px;
  padding: 5px;
  font-size: 15px;
  text-align: justify;
}
.productos button {
  margin: 10px;
  padding: 5px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: #BFC18E;
  color: white;
  border-radius: 15px;
}
.productos .producto1 {
  transition: transform 1s;
}
.productos .producto1:hover {
  transform: scale(1.2);
}

.portada {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portada img {
  text-align: center;
  width: 1570px;
  margin: 2px;
  padding: 20px 30px;
}

.header3 .portada2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header3 .portada2 img {
  text-align: center;
  width: 1570px;
  margin: 2px;
  padding: 20px 30px;
}

@media (max-width: 576px) {
  .newArrivalText h2 {
    display: none;
    font-size: 30px;
    padding: 2px;
    margin: 5px;
  }

  .newArrivalText p {
    display: none;
    height: 30px;
    width: 500px;
    text-align: justify;
    font-size: 26px;
  }

  .video {
    text-align: end;
    margin: 20px;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .newArrivalText h2 {
    display: none;
  }

  .newArrivalText p {
    display: none;
  }
}
@media (max-width: 1200px) {
  .newArrivalText h2 {
    display: none;
  }

  .newArrivalText p {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */